@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 500vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background-color: #16002B; */
}


html {
    scroll-behavior: smooth;
}

.background-image {
    /* width: 110%;
    height: 110%; */
    /* left: 0;
    top: 0; */
    position: absolute;
    background: url('https:/4kwallpapers.com/images/walls/thumbs_3t/2903.png') no-repeat left center / cover;
}


/* .Header{
    position: fixed;
} */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #22e2df #404040;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #404040;
}

*::-webkit-scrollbar-thumb {
    background-color: #b700ff;
    border-radius: 10px;
    border: 3px none #ffffff;
}

.name {
    font-family: 'Share Tech Mono', monospace;
}

.profilepic {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 12px 12px 15px 10px rgba(201, 16, 238, 0.2);
}

.infobutton {
    margin-right: 20px;
}

.intro {
    font-family: 'Share Tech Mono', monospace;
}

.infopanel {
    /* pointer-events: none; */
}

.leftinfocolumn {
    background: rgba(238, 53, 241, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(238, 53, 241, 1);
}

.aboutMe {
    position: absolute;
    min-width: 55%;
    min-height: 7%;
    text-align: center;

    top: 120vh;
    left: 23%;
    margin: 0;
    padding: 0;
    background: rgba(238, 53, 241, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(238, 53, 241, 1);
    font-family: 'Share Tech Mono', monospace;
}

.aboutText {
    position: absolute;
    top: 30%;
    left: 1%;
    font-family: 'Share Tech Mono', monospace;
}

.downpic {
    position: absolute;
    left: 26%;
    top: 100%;
    animation: bounce 3s ease-in-out 0s infinite normal none;
}

@keyframes bounce {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -20px);
    }

    50% {
        transform: translate(0, -5px);
    }

    75% {
        transform: translate(0, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.container {
    min-height: 50vh;
    position: relative;
    /* pointer-events: none; */
}

.projects {
    position: absolute;
    min-height: 50vh;
    left: 20%;
    min-width: 60%;
    top: 220vh;
    text-align: center;

    background: rgba(238, 53, 241, 0);
    border-radius: 49px 49px 49px 49px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(238, 53, 241, 1);
}

.projtitle {
    font-family: 'Share Tech Mono', monospace;
}

.projectbuttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.staticimg {
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    border: 3px solid #f155ff;
}

.staticimg:hover {
    position: absolute;
    opacity: 0;
    width: 550px;
    height: 400px;
    transition: 0.4s;
}

.testparent:hover .testchild .projectimg1 {
    height: 400px;
    width: 500px;
    transition: 0.4s ease-in-out;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 6px 30px 11px #03f7ff;
}

.testparent {
    margin-right: 10px;
}

#projimghover:hover {
    width: 500px;
    height: 600px
}

.projectimg1 {
    /* margin-right: 10px; */
    height: 300px;
    width: 400px;
    border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
}


.HeaderButtons {
    pointer-events: all;
}

.skills {
    position: absolute;
    top: 350vh;
    left: 30%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-width: 40%;
    background-color: #a545ca2a;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    border: 1px solid #f155ff;
}

.skillsinfo {
    /* display: flex; */
    position: relative;
    width: 600px;
}

.educationinfo {
    border: 3px solid #f155ff;
}

.logos {
    /* display: flex; */
}

.logoicons {
    height: 150px;
    width: 150px;
}

.bootcamp {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid #57ffff;
}

.links {
    position: absolute;
    top: 460vh;
    left: 33%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    min-width: 30%;
    min-height: 100px;
    font-family: 'Share Tech Mono', monospace;
    border-radius: 49px 49px 49px 49px;
    -webkit-border-radius: 49px 49px 49px 49px;
    -moz-border-radius: 49px 49px 49px 49px;
    border: 2px solid #f155ff;
}

.linkbtns {
    width: 100px;
    height: 100px;
}

.contact {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    padding: 1rem 3rem;
    transition: 0.5s;
    font-family: 'Share Tech Mono', monospace;
}

.contact:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}

.contact::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

.contact span {
    position: relative;
    z-index: 1;
}

.contact i {
    position: absolute;
    inset: 0;
    display: block;
}

.contact i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.contact:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.contact i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.contact:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes box {
    0% {
        box-shadow: #27272c;
    }

    50% {
        box-shadow: 0 0 25px var(--clr);
    }

    100% {
        box-shadow: #27272c;
    }
}